body{
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    color: #646A73;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;    
    min-height: 75rem;
    padding-top: 4.52rem;
}
.font-16{
    font-size: 16px;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-100{
    margin-bottom: 100px;
}

.primarary-text{
    color:#FFC737;
}
.secondary-text{
    color:#24695C;
}
.support-text{
    color:#1B2537;
}
.helping-text{
    color:#646A73;
}

.primarary-bg{
    background:#FFC737;
}
.secondary-bg{
    background:#24695C;
}
.support-bg{
    background:#1B2537;
}
.helping-bg{
    background:#646A73;
}
.btn-secondary{    
    background:#24695C;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px !important;
    transition: all ease-in-out .3s;
}
.btn-secondary:hover{    
    background:#1B2537;
}


.btn-primarary{ 
    background:#FFC737;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #1B2537;
    border-radius: 5px;
    align-self: center;
    padding: 15px 25px;
    transition: all ease-in-out .3s;
    text-decoration: none;
}
.btn-primarary:hover{    
    background:#24695C;
    text-decoration: none;
    color: #ffffff;
    transition: all ease-in-out .3s;
}
.btn-primarary.btn-bod{
    background: transparent;
    border: 1px solid #FFC737;
}

.btn-primarary.btn-bod:hover{
    background:#FFC737;
    color: #1B2537;
}


.title{
    font-weight: bold;
    font-size: 38px;
    line-height: 130%;
    color: #1B2537;
}
.subtitle {
    font-size: 20px;
    line-height: 37px;
    color: #646A73;
    font-weight: 300;
}
.section {
    padding: 100px 0px;
    background: #ffffff;
}
.bg-gray{
    background: #F8F8F9;
}

/******************************
        Navbar
******************************/
.navbar-light .navbar-brand img{
    max-width:70%;
}
.navbar{
    background: #ffffff !important;
}
.navbar .main-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.navbar .main-nav .nav-item .nav-link{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #1B2537;
}
.navbar .main-nav .nav-item .nav-link:hover, .navbar .main-nav .nav-item.active .nav-link
{
    color: #24695C;
}

.navbar .main-nav .nav-item .nav-link.btn-secondary{
    line-height: 24px;
   
}


/******************************
        HERO
******************************/
.hero{
    background: #F8F8F9;
}
.hero-image{
    position: relative;
    padding: 40px 0px 40px 40px;
}
.hero-image:before, .hero-image:after{
    background: url(/images/dotted.png) no-repeat;
    right: -40px;
    top: 0px;
    content: "";
    position: absolute;
    width: 256px;
    height: 256px;
}
.hero-image:after{
    right: auto;
    top: auto;
    left: 0px;
    bottom: 0px;
}
.hero-image img {
    max-width: 100%;
    z-index: 5;
    position: relative;
}

.hero-image .over-image{
    width: 100px;
    position: absolute;
    top: -17px;
    z-index: 6;
    left: -23px;
}
.hero-image .over-image.b-r{
    width: 130px;
    top: auto;
    left: auto;
    bottom: 0px;
    right: 0px;
}
.hero .subtitle {
    font-size: 24px;
    line-height: 37px;
    color: #646A73;
    font-weight: 300;
}
.hero .title{
    font-size: 48px;
}

.work-productively{
    margin-top: -160px;
}

.section.collaborators .row.mb-80:last-child{
    margin-bottom: 0px !important;
}
.cta{
    position: relative;
}
.cta .subtitle {
    font-size:35px;
}

.cta:after, .cta:before{
    background: url(/images/right-cta.svg) no-repeat;
    right: 20px;
    top: 0px;
    content: "";
    position: absolute;
    width: 356px;
    height: 356px;
    margin: auto;
    bottom: 0px;
    background-size: 100%;
}
.cta:before{
    background: url(/images/left-cta.svg) no-repeat;
    left:20px;
    right: auto;
    background-size: 100%;
}

footer{
    padding: 70px 0px;
}
footer .footer-header h3{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-transform: uppercase;
    /* 02 */
    color: #1B2537;
}
footer .link-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer .link-list a{    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #646A73;
}
footer .link-list a:hover{
    color: #24695C;
    text-decoration: none;
}
footer .social-media{
    margin: 0px;
    padding: 0px;
}
footer .social-media li{
    list-style: none;
    padding: 0px;
    display: inline-block;
    margin-right: 5px;
}
footer .social-media li a{
    color: #24695C;
}

.language-selector1{
    font-size: 16px;
    margin-top: 15px;
}

.stunning-templates .templates .title{
    font-size: 16px;    
}

.stunning-templates .templates p{
    line-height: normal;
}
.how-list{
    font-size: 16px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
@media (max-width: 768px) {  
    .hero {
        text-align:center;
    }
    .hero .title{
        font-size: 21px;
    }

    .hero .subtitle {
        font-size: 18px;
        line-height: 24px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 24px;
    }
    .cta .subtitle {
        font-size: 20px;
    }

    .footer-logo{
        margin-bottom: 15px;
    }

    footer .footer-header h3{
        font-size: 18px;
    }
    footer .link-list{
        margin-bottom: 15px;
    }
    footer .link-list li{
        line-height: 20px;
    }

    
    .hero-image:after, .hero-image::before{
        display: none;
    }
    .hero-image .over-image{
        display: none;
    }
    .hero-image{
        padding:0px;
    }

    .hero .btn-primarary{
        display: inline-block;
        margin: 5px auto;
    }

    .title{
        font-size: 20px;
    }
    .btn-primarary{        
        padding: 15px 15px;
        font-size: 14px;
    }
    .work-productively{
        margin-top: 0px;
    }
    .cta:after, .cta:before{
        display: none;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

    

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}


@media (max-width: 1170px){

    
    
}

