
{{ $data := index .Site.Data .Site.Language.Lang }}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-3 mb-sm-3 mb-xs-3">            
                <div class="footer-logo">
                        <img src="{{ printf "/images/%s" $data.basic.footer.logo | relURL }}" alt="aligner" class="img-fluid">
                </div>
            </div>        
            <div class="col-md-10 col-lg-9">  
                <div class="row">
                    {{- range $data.basic.footer.quicklinks  }}
                        <div class="col-md-3">
                                <div class="footer-header">
                                    <h3>{{ .title }}</h3>
                                </div>
                                <ul class="link-list">
                                {{- range .links }}
                                    <li>
                                        <a href="{{ .link }}">
                                        {{ .text }}
                                        </a>
                                    </li>
                                {{- end }}
                                </ul>
                        </div>
                    {{- end }}                    
                    <div class="col-md-3">
                        <div class="footer-header">
                            <h3>{{ $data.basic.footer.socialmediatitle }}</h3>
                            <ul class="social-media">
                                {{- range $data.basic.footer.socialmedia}}
                                    <li>
                                        <a class="level-item" href="{{ .link }}">
                                            <i class="fa fa-{{ .icon }}"></i>
                                        </a>
                                    </li>
                                   
                                {{- end }}
                            </ul>
                        </div>

                        {{ partial "languageList.html" . }}
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>




