
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="hero py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-lg-12  col-xl-12">


                <h1 class="title mt-5">
                      <section class="rw-wrapper">
                            {{$data.homepage.hero.title | safeHTML }} 
                            <div class="rw-words rw-words-1">
                                <span>{{$data.homepage.hero.sw1 | safeHTML }} </span>
                                <span>{{$data.homepage.hero.sw2 | safeHTML }} </span>
                                <span>{{$data.homepage.hero.sw3 | safeHTML }} </span>
                            </div>
                    </section>

                </h1>
                {{ with $data.homepage.hero.subtitle  }}
                    <h2 class="subtitle my-4 col-xl-12 w-50 mx-auto">{{ . }}</h2>
                {{end}}
                <p class="mt-5">
                    <a class="button btn-primarary mr-2" href="{{ $data.homepage.hero.buttonlink }}">
                        {{ $data.homepage.hero.buttontext }}
                    </a>
                </p>
                <div class="col-md-12 col-lg-12 col-xl-12 mt-3">
                    <figure class="hero-image">
                        <img src="{{ printf "/images/%s" $data.homepage.hero.image | relURL }}" alt="{{ $data.homepage.hero.title }}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>