{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="section">
  <div class="container">
      <div class="row">
          <div class="col-md-7 col-lg-7 col-xl-7 mb-5">
            <img src="{{ printf "/images/%s" $data.homepage.translations.image   | relURL }}" alt="{{$data.homepage.translations.title }}" class="img-fluid">
          </div>          
          <div class="col-md-5 col-lg-5 col-xl-5  my-auto">
            <h2 class="title ">{{$data.homepage.translations.title | safeHTML}}  </h2>
            <h3 class="subtitle my-5">{{$data.homepage.translations.subtitle | safeHTML}}</h3>
            <p class="mt-4">
                <a class="button btn-primarary mt-2" href="{{$data.homepage.translations.buttonlink }}">
                  {{$data.homepage.translations.buttonText }} 
                </a>
            </p>
        </div>

      </div>

  </div>
</section>