{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- workproductively -->" | safeHTML }}
<section class="section bg-gray work-productively">
  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12  mb-3 text-center mt-5">
            <h2 class="title mb-4">{{ $data.homepage.workProductively.title | safeHTML }} </h2>
            <h3 class="subtitle ">{{ $data.homepage.workProductively.subtitle | safeHTML }}</h3>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
            <img src="{{ printf "/images/%s"  $data.homepage.workProductively.image   | relURL }}" alt="{{ $data.homepage.workProductively.title | safeHTML }}" class="img-fluid">
        </div> 
        <div class="col-md-12 col-lg-12 col-xl-12 text-center">            
            <p class="mt-4">
                <a class="button btn-primarary mt-2" href="{{ $data.homepage.workProductively.buttonlink }}">
                     {{ $data.homepage.workProductively.buttonText }}
                </a>
            </p>
        </div>

      </div>

  </div>
</section>

{{ "<!-- workproductively -->" | safeHTML }}