
{{ define "main" }}
    
    {{ $data := index .Site.Data .Site.Language.Lang }}

    {{ if $data.homepage.hero.enable }}
        {{ partial "hero.html" . }}        
    {{ end }}
    
    {{ if $data.homepage.translations.enable }}
        {{ partial "translations.html" . }}
    {{ end }} 

    {{ if $data.homepage.workProductively.enable }}
        {{ partial "work-productively.html" . }}
    {{ end }}  

    {{ if $data.homepage.collaborators.enable }}
        {{ partial "collaborators.html" . }}
    {{ end }}


    
    {{ if $data.homepage.howTo.enable }}
        {{ partial "how-to-create.html" . }}
    {{ end }}

    
    {{ if $data.homepage.stunningTemplates.enable }}
        {{ partial "stunning-templates.html" . }}
    {{ end }}

    
    {{ if $data.homepage.manage.enable }}
        {{ partial "mange-grow.html" . }}
    {{ end }}

    {{ if $data.homepage.CTA.enable }}
        {{ partial "cta.html" . }}
    {{ end }}
    
    

    
{{ end }}